<aside class="sidebar">
  <!-- Logo -->
  <div class="logo">
    <img src="logo.png" alt="Logo" />
  </div>

  <!-- Menu -->
  <div class="menu">
    <div class="menu-group">
      <h4>Overview</h4>

      <a
        routerLink=""
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
        class="menu-item"
      >
        <span class="dot"></span>
        Dashboard
      </a>
    </div>

    <div class="menu-group">
      <h4>People</h4>

      <a routerLink="Employees" routerLinkActive="selected" class="menu-item">
        <span class="dot"></span>
        Employees
      </a>

      <a routerLink="Students" routerLinkActive="selected" class="menu-item">
        <span class="dot"></span>
        Students
      </a>

      <a routerLink="TOP" routerLinkActive="selected" class="menu-item">
        <span class="dot"></span>
        Top Students
      </a>
    </div>

    <div class="menu-group">
      <h4>Scheduling</h4>

      <a routerLink="Exam_schedule" routerLinkActive="selected" class="menu-item">
        <span class="dot"></span>
        Exam Schedule
      </a>

      <a routerLink="Timetable" routerLinkActive="selected" class="menu-item">
        <span class="dot"></span>
        Timetable
      </a>
    </div>

    <div class="menu-group">
      <h4>Reports</h4>

      <a routerLink="Reports" routerLinkActive="selected" class="menu-item">
        <span class="dot"></span>
        Reports
      </a>
    </div>

    <button routerLink=""></button>

    <div class="menu-group">
      <h4>Resources</h4>

      <a routerLink="Materials" routerLinkActive="selected" class="menu-item">
        <span class="dot"></span>
        Materials
      </a>
    </div>
    <div class="menu-group">
      <h4>Academy</h4>

      <a routerLink="Class" routerLinkActive="selected" class="menu-item">
        <span class="dot"></span>
        Class
      </a>
      <a routerLink="Attendance" routerLinkActive="selected" class="menu-item">
        <span class="dot"></span>
        Attendance
      </a>
    </div>
    <div class="menu-group">
      <h4>Account</h4>
      <a (click)="logout()" class="menu-item" style="cursor: pointer;">
        <span class="dot"></span>
        Logout
      </a>
    </div>
  </div>
</aside>

