.publish-btn {
    height: 42px;
    padding: 0 22px;
    border: none;
    border-radius: 8px;
    background: var(--color-secondary-dark);
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all .25s ease;
}

.publish-btn:hover {
    opacity: .9;
    transform: translateY(-1px);
}

.publish-btn i {
    font-size: 16px;
}
