    :host{
    flex: 1;
    height: 110vh;
    overflow-y: auto;
    background-color: var(--bg);
    }
    .employees-page {
    background: var(--color-bg-main);
        width: 100%;
        min-height: 1000px;
        font-family: "Segoe UI", sans-serif;
    }

    .cards{
        margin-left: 30px;
        margin-bottom: 20px;
    }

  .filter{
    margin-left: 40px;
    margin-right: 20px;
    width: 95%;

  }

  .table{
    width: 95%;
    margin-left: 40px;
    margin-top: 20px;
  }