<div class="page">
  <main class="body">
    <header class="head">
      <h2>Classes</h2>
      <button class="Notification-btn"></button>
    </header>

    <div class="bar">
      <div class="box">
        <select class="select" [(ngModel)]="selectedGradeId" (change)="filterClasses()">
          <option *ngFor="let g of grades" [value]="g.id">{{ g.grade }}</option>
        </select>
      </div>
      <div style="display: flex; gap: 10px">
        <button class="btn" (click)="openDilog()"><i class="hgi hgi-stroke hgi-add-01"></i> add class</button>
        <button
          class="btn"
          (click)="deleteAllClasses()"
          style="background-color: #ff4d4f; border-color: #ff4d4f; color: white"
        >
          Delete All
        </button>
      </div>
    </div>

    <div class="grid">
      <div class="card blue" *ngFor="let classObj of classes">
        <div class="row">
          <div>
            <h3>{{ classObj.className }}</h3>
            <p>{{ classObj.grade }}</p>
          </div>
          <span class="tag b-tag">{{ classObj.capacity }} Students</span>
        </div>
        <div class="btns">
          <button class="action" (click)="openDilog(classObj)"><i class="hgi hgi-stroke hgi-edit-02"></i> Edit</button>
          <button class="action" (click)="deleteClass(classObj.id)" style="color: #ff4d4f">
            Delete
          </button>
          <button class="action"><i class="hgi hgi-stroke hgi-eye"></i> View Students</button>
        </div>
      </div>
    </div>
  </main>
</div>
