<div class="sidebar">
  <div class="logo-container">
    <div class="logo-bg-wrapper">
      <img src="assets/ntg-logo.png" alt="NTG Logo" class="logo">
    </div>
  </div>

  <div class="menu-section">
    <p class="menu-title">OVERVIEW</p>
    <a href="#" class="menu-item">
      <span class="dot"></span> Dashboard
    </a>
  </div>
  <div class="menu-section">
    <p class="menu-title">PEOPLE</p>
    <a href="#" class="menu-item">
      <span class="dot"></span> Employees
    </a>
    <a href="#" class="menu-item active-page">
      <span class="dot"></span> Students
    </a>
    <a href="#" class="menu-item">
      <span class="dot"></span> Top Students
    </a>
  </div>
  <div class="menu-section">
    <p class="menu-title">SCHEDULING</p>
    <a href="#" class="menu-item">
      <span class="dot"></span> Exam Schedule
    </a>
    <a href="#" class="menu-item">
      <span class="dot"></span> Timetable
    </a>
  </div>
  <div class="menu-section">
    <p class="menu-title">REPORTS</p>
    <a href="#" class="menu-item">
      <span class="dot"></span> Reports
    </a>
  </div>
  <div class="menu-section">
    <p class="menu-title">RESOURCES</p>
    <a href="#" class="menu-item">
      <span class="dot"></span> Materials
    </a>
  </div>
  <div class="sidebar-footer">
    <div class="avatar">AM</div>
    <div class="user-info">
      <p class="username">salma tamer</p>
      <p class="role">Super Admin</p>
    </div>
  </div>
</div>