.stats-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 18px;
    margin-bottom: 24px;
    margin-top: 20px;
    margin-right: 35px;
}

.stat-card {
    background: white;
    border-radius: 10px;
    padding: 18px;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
    border-left: 4px solid var(--color-primary-dark);
}

.stat-card.students {
    border-left-color: var(--color-primary-dark);
}
.stat-card.students small{
    color: var(--color-status-active-text);
}

.stat-card.employees {
    border-left-color: var(--color-info-banner-bg);
}

.stat-card.top {
    border-left-color: var(--color-status-leave-text);
}

.stat-card.top small{
    color: var(--color-info-banner-bg);
}
.stat-card.attendance {
    border-left-color: var(--color-status-inactive-text);
}
.stat-card.attendance small{
    color: var(--color-primary-dark);
}
.stat-title {
    display: block;
    color: var(--color-text-muted);
    font-size: 13px;
}

.stat-card h2 {
    margin: 8px 0 2px;
    font-size: 30px;
    color: var(--color-text-main);
}

.stat-card small {
    color: var(--color-text-muted);
}