<div class="stats-grid">
  <div class="stat-card students">
    <span class="stat-title">Total Employees</span>
    <h2>{{data()?.totalEmployees}}</h2>
  </div>

  <div class="stat-card employees">
    <span class="stat-title">Active Employees</span>
    <h2>{{data()?.activeEmployees}}</h2>
  </div>

  <div class="stat-card top">
    <span class="stat-title">On leave</span>
    <h2>{{data()?.onLeave}}</h2>
  </div>

  <div class="stat-card attendance">
    <span class="stat-title">Total Teachers</span>
    <h2>{{data()?.totalTeacher}}</h2>
  </div>
</div>