<div class="stats-container">

  <div class="stat-card red">
    <div class="title">Total Employees</div>
    <div class="value">{{data()?.totalEmployees}}</div>
  </div>

  <div class="stat-card blue">
    <div class="title">Active Employees</div>
    <div class="value">{{data()?.activeEmployees}}</div>
  </div>

  <div class="stat-card red">
    <div class="title">On leave</div>
    <div class="value">{{data()?.onLeave}}</div>
  </div>

  <div class="stat-card blue">
    <div class="title">Total Teachers</div>
    <div class="value">{{data()?.totalTeacher}}</div>
  </div>

</div>