:host{
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--bg);
}
.dashboard-page {
    background: var(--color-bg-main);
    width: 187vh;
    min-height: 1000px;
    font-family: "Segoe UI", sans-serif;
}


.dashboard-content {
    padding: 24px;
}

.charts{
    display: flex;
}
