<aside class="sidebar">

    <!-- Logo -->
    <div class="logo">
        <img src="/logo.png" alt="Logo">
    </div>

    <!-- Menu -->
    <div class="menu">

        <div class="menu-group">
            <h4>Overview</h4>

            <a routerLink="/dashboard" class="menu-item active">
                <span class="dot"></span>
                Dashboard
            </a>
        </div>

        <div class="menu-group">
            <h4>People</h4>

            <a routerLink="employee" class="menu-item">
                <span class="dot"></span>
                Employees
            </a>

            <a href="#" class="menu-item">
                <span class="dot"></span>
                Students
            </a>

            <a href="#" class="menu-item">
                <span class="dot"></span>
                Top Students
            </a>
        </div>

        <div class="menu-group">
            <h4>Scheduling</h4>

            <a href="#" class="menu-item">
                <span class="dot"></span>
                Exam Schedule
            </a>

            <a routerLink="timetable" class="menu-item selected">
                <span class="dot white"></span>
                Timetable
            </a>
        </div>

        <div class="menu-group">
            <h4>Reports</h4>

            <a href="#" class="menu-item">
                <span class="dot"></span>
                Reports
            </a>
        </div>

        <button routerLink=""></button>

        <div class="menu-group">
            <h4>Resources</h4>

            <a href="#" class="menu-item">
                <span class="dot"></span>
                Materials
            </a>
        </div>

    </div>

    
</aside>
<!-- User -->
<div class="profile">

    <div class="avatar">
        AM
    </div>

    <div>
        <div class="name">salma tamer</div>
        <div class="role">Super Admin</div>
    </div>

</div>