<div class="exam-page">


    <div class="top-banner">
        <header>
            <h1 class="page-title">Exam Schedule</h1>

            <div class="header-actions">
              <button class="btn-icon" [routerLink]="['/notification']">
  <i class="hgi hgi-stroke hgi-rounded hgi-notification-02"></i>
</button>
                <button class="create-btn" (click)="opendilog()">
                    Create Exam
                </button>
            </div>
        </header>
    </div>

  <div class="exam-content">

  @for (group of groupedExams; track group[0]) {

    <div class="exam-card">

      <div class="card-title">
        {{ group[0] }}
      </div>

      <table class="exam-table">

        <thead>
          <tr>
            <th>Subject</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>ExamType</th>
            <th>Status</th>
            <th style="text-align: center;">Actions</th>
          </tr>
        </thead>

        <tbody>

          @for (exam of group[1]; track exam.id) {

            <tr>

              <td>{{ exam.courseName }}</td>

              <td>{{ exam.examDate }}</td>

              <td>{{ exam.examTime.substring(0,5) }}</td>

              <td>{{ exam.committeeName }}</td>
              <td>{{ exam.examType }}</td>

              <td>
                <span
                  class="badge"
                  [class.published]="exam.status === 'Scheduled'"
                  [class.pending]="exam.status === 'Pending'"
                  [class.draft]="exam.status === 'Draft'">

                  {{ exam.status }}

                </span>
              </td>

              <td style="display: flex; justify-content: center; gap: 10px; align-items: center;">
                <button (click)="openEditDialog(exam)" style="background-color: #0F2747; color: white; padding: 6px 12px; border-radius: 6px; cursor: pointer; border: none; font-weight: 600;"><i class="hgi hgi-stroke hgi-edit-02"></i> Edit</button>
                <button (click)="deleteExam(exam.id)" style="background-color: #db5267; color: white; padding: 6px 12px; border-radius: 6px; cursor: pointer; border: none; font-weight: 600;"><i class="hgi hgi-stroke hgi-delete-02"></i> Delete</button>
              </td>

            </tr>

          }

        </tbody>

      </table>

    </div>

  }

</div>
</div>